@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

body {
  text-align: right;
  font-family: "Samim";
  font-size: 100%;
  direction: rtl;
}

header.container-fluid {
  width: 100%;
  height: 100%;
}

header.container-fluid div.register-login {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf6fb;
}

header.container-fluid div.register-login img.logo {
  width: 60px;
  height: 60px;
}

header.container-fluid div.register-login div.search-box {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

header.container-fluid div.register-login div.search-box input.search {
  width: 80%;
  height: 25px;
}

header.container-fluid div.register-login div.search-box button.input-group-prepend {
  width: 10%;
  border: 1px solid #32ff6a;
  border-radius: 2px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

header.container-fluid div.register-login div.search-box button.input-group-prepend:hover {
  background-color: #32ff6a;
  box-shadow: 0 0 0 0.1rem rgba(250, 246, 251, 0.5);
}

header.container-fluid div.register-login div.search-box button.input-group-prepend:hover div.input-group-text i {
  color: #ffffff;
}

header.container-fluid div.register-login div.search-box button.input-group-prepend div.input-group-text {
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header.container-fluid div.register-login div.search-box button.input-group-prepend div.input-group-text i {
  font-size: 25px;
  color: #32ff6a;
}

header.container-fluid div.register-login div.search-box input.search {
  border-left: 0;
}

header.container-fluid div.register-login div.buttons {
  margin: 1.5rem;
}

header.container-fluid div.register-login div.buttons button.btn.login {
  border-radius: 28px;
  padding: .3rem 1.2rem;
  border: 1px solid #32ff6a;
  color: #32ff6a;
}

header.container-fluid div.register-login div.buttons button.btn.login:hover {
  background-color: #32ff6a;
  color: #ffffff;
  box-shadow: 0 0 0 0.1rem rgba(250, 246, 251, 0.5);
}

header.container-fluid div.register-login div.buttons button.btn.login:focus {
  box-shadow: 0 0 0 0.1rem rgba(250, 246, 251, 0.5);
}

header.container-fluid div.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 100%;
  padding: 0 1rem;
  background-color: #6c757d;
  height: 45px;
}

@media (max-width: 991px) {
  header.container-fluid div.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
  }
}

@media (max-width: 405px) {
  header.container-fluid div.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
  }
}

header.container-fluid div.navbar-right {
  padding-right: 2rem;
}

header.container-fluid div.navbar-right .hamburger-menu {
  display: inline-block;
  margin-top: 6px;
  position: absolute;
  top: -4px;
  left: 1rem;
  z-index: 100;
  cursor: pointer;
}

@media (min-width: 992px) {
  header.container-fluid div.navbar-right .hamburger-menu {
    display: none;
  }
}

header.container-fluid div.navbar-right .hamburger-menu .navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
}

header.container-fluid div.navbar-right .hamburger-menu .change .menu-line-1 {
  transform: rotate(40deg);
  width: 100%;
  height: 4px;
}

header.container-fluid div.navbar-right .hamburger-menu .change .menu-line-2 {
  opacity: 0;
}

header.container-fluid div.navbar-right .hamburger-menu .change .menu-line-3 {
  transform: rotate(-40deg);
  width: 100%;
  height: 4px;
}

header.container-fluid div.navbar-right .hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 4px;
  transition: transform .5s;
}

header.container-fluid div.navbar-right .hamburger-menu .menu-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all .3s .3s;
  transform-origin: left;
}

@media (max-width: 1199px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-end {
    display: none;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item:hover > a {
  background-color: #32ff6a;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 {
  margin-top: 0;
  max-width: 13.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 1px;
  text-align: right;
}

@media (max-width: 992px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 {
    position: absolute;
    top: 0px;
    right: 6.4rem;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(90deg);
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: -1px;
  right: 13.85rem;
  width: 13.9rem;
}

@media (max-width: 1027px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 95%;
    width: 11rem;
    right: 10.88rem;
  }
}

@media (max-width: 991px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 90%;
    width: 10rem;
    right: 10.85rem;
  }
}

@media (max-width: 485px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 85%;
    width: 9.5rem;
    right: 9.82rem;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 .fa {
  transition: .3s transform ease-in-out;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item {
  text-align: right;
  transition: .3s;
  font-size: 90%;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #32ff6a;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item i.jet-dropdown-arrow {
  padding-right: 1px;
  position: relative;
  bottom: -2px;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 {
  display: none;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:active {
  background-color: rgba(224, 224, 224, 0.7);
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
  padding: .8rem .9rem;
  padding-bottom: .45rem;
  cursor: pointer;
  outline: 0;
  font-size: 90%;
}

@media (max-width: 1140px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link {
    padding: .7rem .5rem;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link i.fa-home {
  font-size: 1.3rem;
}

@media (max-width: 991px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item {
    border-left: 0px;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item:hover > a {
    color: #000000;
    background-color: transparent;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(0deg);
  position: relative;
  top: 2px;
}

@media (max-width: 991px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown i.jet-dropdown-arrow {
    transform: rotate(0deg);
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown:hover > a {
    background-color: transparent;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
  top: 45px;
  text-align: right;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item {
  outline: 0;
  position: relative;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #32ff6a;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item {
  padding: 0;
  outline: 0;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #32ff6a;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

@media (max-width: 1027px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    width: 11rem;
    position: absolute;
  }
}

@media (max-width: 991px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    font-size: 93%;
    position: static;
    float: none;
    top: 0px;
    right: 6.9rem;
    width: 11rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#monitor {
    top: .7rem;
    right: 5.3rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#users {
    top: .7rem;
    right: 4rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#namabar {
    top: .7rem;
    right: 3.1rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#charts {
    top: .7rem;
    right: 4.4rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#reports {
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#tel {
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#settings {
    top: .7rem;
    right: 4.6rem;
    width: 10rem;
    font-size: 90%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#sub-menu-0 {
    top: .7rem;
    position: static;
    float: none;
  }
}

@media (max-width: 485px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    position: static;
    float: none;
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
    font-size: 85%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#monitor {
    top: .7rem;
    right: 5.3rem;
    width: 10rem;
    font-size: 85%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#users {
    top: .7rem;
    right: 4rem;
    width: 10rem;
    font-size: 85%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#namabar {
    top: .7rem;
    right: 3.1rem;
    width: 10rem;
    font-size: 85%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#charts {
    top: .7rem;
    right: 4.4rem;
    width: 10rem;
    font-size: 85%;
  }
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#sub-menu-0 {
    top: .7rem;
    position: static;
    float: none;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown a.nav-link {
  color: #fff;
  padding-top: .8rem;
  padding-bottom: .7rem;
  cursor: pointer;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.nav-end a.nav-link {
  padding-bottom: .7rem;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show a.nav-link {
    font-size: 90%;
  }
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show li.list-item.dropdown ul#sub-menu-1 {
  display: none;
}

header.container-fluid div.navbar-right div.collapse ul.navbar-nav .fa {
  transition: .3s transform ease-in-out;
}

@media (max-width: 991px) {
  header.container-fluid div.navbar-right div.collapse ul.navbar-nav {
    position: relative;
    right: -1.5rem;
  }
}

header.container-fluid div.navbar-left {
  font-size: 100%;
}

header.container-fluid div.navbar-left .navbar-nav .nav-item .nav-link {
  color: #fff;
}

header.container-fluid div.navbar-left .navbar-nav .nav-item .nav-link:focus {
  outline: 0;
}

header.container-fluid div.navbar-left .navbar-nav .nav-item .nav-link .material-icons {
  font-size: 26px;
  color: #fff !important;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1199px) {
  header.container-fluid div.navbar-left .navbar-nav .nav-item .nav-link .material-icons {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */