@import './base';

@media(max-width:991px) {

    header.container-fluid {
        width: 100%;
        height: 100%;

        div.register-login {
            width: 100%;
            height: 70px;

            img.logo {
                width: 55px;
                height: 55px;
            }

            div.search-box {
                width: 50%;

                input.search {
                    width: 80%;
                    height: 25px;
                    font-size: 95%;

                    &:focus {
                        box-shadow: 0 0 0 .2rem rgba($color: $color-light-2, $alpha: .5);
                        border-color: $color-navbar;
                    }

                }

                button.input-group-prepend {
                    width: 10%;
                    margin: 0;
                    padding-right: 0;
                    padding-left: 0;



                    &:hover {
                        div.input-group-text {

                            i {}
                        }
                    }

                    div.input-group-text {
                        padding: 0;
                        width: 100%;

                        i {
                            font-size: 23px;
                        }
                    }

                }

                input.search {
                    border-left: 0;
                }
            }

            div.buttons {
                margin: 1.5rem;

                button.btn.login {
                    border-radius: 28px;
                    padding: .3rem 1.2rem;

                }
            }

        }
    }


    section.main-content.container {
        width: 100%;

        div.section-title {
            margin: 1rem;

            h3.h3 {
                font-size: 2.5rem;
            }

            h4.text-muted.lead {
                font-size: 85%;
            }
        }

        div.card {
            width: 100%;
            height: 370px;
            margin: .2rem 0 1rem;
            padding: 0rem;

            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                width: 100%;
                height: 100%;

                div.owl-stage-outer {
                    width: 100%;
                    // height: max-content;

                    div.owl-stage {
                        width: 50%;

                        div.owl-item {
                            // margin: .1rem auto;
                            margin-top: 1rem;
                            margin-bottom: 1rem;

                            img.image-slide {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        div.owl-item.center {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                        }
                    }
                }

                div.owl-dots {
                    width: 100%;
                    height: 10%;
                    margin-top: 0;
                    position: absolute;
                    bottom: 0rem;

                    button.owl-dot {
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in;
                        margin: 0 8px;
                        outline: none;
                    }
                }
            }
        }
    }

    section.slide-video.container-fluid {
        width: 100%;
        height: max-content;
        margin-top: 2rem;

        div.video-gallery.owl-carousel.owl-theme {
            width: 100%;
            height: 100%;

            div.owl-stage-outer {
                width: 100%;

                div.owl-stage {
                    width: 50%;

                    div.owl-item {
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        img.image-slide {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            div.owl-nav {
                button.owl-prev {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    i.fa.fa-angle-left {
                        font-size: 28px;
                    }
                }

                button.owl-next {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    i.fa.fa-angle-right {
                        font-size: 28px;
                    }
                }
            }

            div.item-slide {
                width: 100%;

                span.text-video {
                    width: 40%;
                    margin-left: 5%;
                    font-size: 95%;
                }

                div.myplayer {
                    video {
                        width: 100%;
                        height: auto;
                    }

                    div.myplayer__controls {
                        position: absolute;
                        bottom: 0;
                        width: 100%;

                        div.controls__progressbar {
                            height: 6px;
                            width: 100%;

                            input.controls__progressbar-current {
                                height: 6px;
                                margin: 0;
                                position: absolute;
                                width: 100%;

                                &::-webkit-slider-thumb {
                                    height: 13px;
                                    width: 13px;
                                }

                                &::-moz-range-thumb {
                                    height: 13px;
                                    width: 13px;
                                }
                            }
                        }

                        div.controls__btns {
                            margin: 10px 15px;

                            div.left .btns:not(:first-child) {
                                margin-left: 20px;
                            }

                            div.right .btns:not(:last-child) {
                                margin-right: 20px;
                            }

                            div.left {
                                display: flex;
                                align-items: center;

                                div.btns.play {
                                    font-size: 1.2em;
                                }

                                div.timer {
                                    margin-left: 20px;
                                }
                            }

                            div.right {
                                div.btns.volume {
                                    font-size: 1.2em;

                                    div.volume__progress {
                                        position: absolute;
                                        top: -50px;

                                        input[type=range] {
                                            display: flex;
                                            -webkit-appearance: none;
                                            -moz-apperance: none;
                                            border-radius: 6px;
                                            height: 6px;
                                            width: 77px;

                                            &::-webkit-slider-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }

                                            &::-moz-range-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }
                                        }
                                    }

                                    div.volume__progress.active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div.footer {
            height: 40%;

            div.footer-right {
                img {
                    width: 100%;
                }
            }

            div.footer-center {
                margin-top: 1rem;


                div.footer-center1 {
                    width: 45%;
                    margin-right: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 100%;

                    }

                    p.footer-center-description {
                        font-size: 90%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;
                    }
                }

                div.footer-center2 {
                    width: 45%;
                    margin-right: 1.5rem;
                    margin-left: 3.5rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 100%;

                    }

                    p.footer-center-description {
                        font-size: 90%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;

                        strong.telephone {
                            font-size: 90%;
                            font-weight: 500;

                        }
                    }

                    div.footer-left {
                        ul.footer-left-icon {
                            &-item {
                                margin: 0 0 0 1rem;

                                &-link {
                                    i.social-media {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.footer-copyRight {
            small.text-muted {
                font-size: 70%;
            }
        }
    }
}



@media(max-width:800px) {

    header.container-fluid {
        width: 100%;
        height: 100%;

        div.register-login {
            width: 100%;
            height: 70px;

            img.logo {
                width: 55px;
                height: 55px;
            }

            div.search-box {
                width: 50%;

                input.search {
                    width: 80%;
                    height: 25px;
                    font-size: 90%;

                }

                button.input-group-prepend {
                    width: 10%;
                    margin: 0;
                    padding-right: 0;
                    padding-left: 0;



                    &:hover {
                        div.input-group-text {

                            i {}
                        }
                    }

                    div.input-group-text {
                        padding: 0;
                        width: 100%;

                        i {
                            font-size: 23px;
                        }
                    }

                }

                input.search {
                    border-left: 0;
                }
            }

            div.buttons {
                margin: 1.5rem;

                button.btn.login {
                    border-radius: 28px;
                    padding: .3rem 1.2rem;

                }
            }

        }
    }


    section.main-content.container {
        width: 100%;

        div.section-title {
            margin: 1rem;

            h3.h3 {
                font-size: 2rem;
                text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);

            }

            h4.text-muted.lead {
                font-size: 80%;
            }
        }

        div.card {
            width: 100%;
            height: 450px;
            margin: .2rem 0 1rem;
            padding: 0rem;

            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                width: 100%;
                height: 100%;

                div.owl-stage-outer {
                    width: 100%;
                    // height: max-content;

                    div.owl-stage {
                        width: 50%;

                        div.owl-item {
                            // margin: .1rem auto;

                            margin-top: 1rem;
                            margin-bottom: 1rem;

                            img.image-slide {
                                width: 100%;
                                height: 90%;
                            }
                        }

                        div.owl-item.center {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }

                div.owl-dots {
                    width: 100%;
                    height: 10%;
                    margin-top: 0;
                    position: absolute;
                    bottom: 0rem;

                    button.owl-dot {
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in;
                        margin: 0 8px;
                        outline: none;
                    }
                }
            }
        }
    }

    section.slide-video.container-fluid {
        width: 100%;
        height: max-content;
        margin-top: 2rem;

        div.video-gallery.owl-carousel.owl-theme {
            width: 100%;
            height: 100%;

            div.owl-stage-outer {
                width: 100%;

                div.owl-stage {
                    width: 50%;

                    div.owl-item {
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        img.image-slide {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            div.owl-nav {
                button.owl-prev {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    i.fa.fa-angle-left {
                        font-size: 28px;
                    }
                }

                button.owl-next {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    i.fa.fa-angle-right {
                        font-size: 28px;
                    }
                }
            }

            div.item-slide {
                width: 100%;
                flex-direction: column;

                span.text-video {
                    width: 100%;
                    margin-top: 5%;
                    margin-left: 0;
                    font-size: 95%;
                    order: 2;
                }

                div.myplayer {
                    order: 1;
                    width: 100%;

                    video {
                        width: 100%;
                        height: auto;
                    }

                    div.myplayer__controls {
                        position: absolute;
                        bottom: 0;
                        width: 100%;

                        div.controls__progressbar {
                            height: 6px;
                            width: 100%;

                            input.controls__progressbar-current {
                                height: 6px;
                                margin: 0;
                                position: absolute;
                                width: 100%;

                                &::-webkit-slider-thumb {
                                    height: 13px;
                                    width: 13px;
                                }

                                &::-moz-range-thumb {
                                    height: 13px;
                                    width: 13px;
                                }
                            }
                        }

                        div.controls__btns {
                            margin: 10px 15px;

                            div.left .btns:not(:first-child) {
                                margin-left: 20px;
                            }

                            div.right .btns:not(:last-child) {
                                margin-right: 20px;
                            }

                            div.left {
                                display: flex;
                                align-items: center;

                                div.btns.play {
                                    font-size: 1.2em;
                                }

                                div.timer {
                                    margin-left: 20px;
                                }
                            }

                            div.right {
                                div.btns.volume {
                                    font-size: 1.2em;

                                    div.volume__progress {
                                        position: absolute;
                                        top: -50px;

                                        input[type=range] {
                                            display: flex;
                                            -webkit-appearance: none;
                                            -moz-apperance: none;
                                            border-radius: 6px;
                                            height: 6px;
                                            width: 77px;

                                            &::-webkit-slider-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }

                                            &::-moz-range-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }
                                        }
                                    }

                                    div.volume__progress.active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div.footer {
            height: 40%;

            div.footer-right {
                img {
                    width: 100%;
                }
            }

            div.footer-center {
                margin-top: 1rem;

                div.footer-center1 {
                    width: 50%;
                    margin-right: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 95%;

                    }

                    p.footer-center-description {
                        font-size: 85%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;
                    }
                }

                div.footer-center2 {
                    width: 50%;
                    margin-right: 1rem;
                    margin-left: 2rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 95%;

                    }

                    p.footer-center-description {
                        font-size: 85%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;

                        strong.telephone {
                            font-size: 88%;
                            font-weight: 500;

                        }
                    }

                    div.footer-left {
                        ul.footer-left-icon {
                            &-item {
                                margin: 0 0 0 1rem;

                                &-link {
                                    i.social-media {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.footer-copyRight {
            small.text-muted {
                font-size: 70%;
            }
        }
    }
}

@media(max-width:700px) {

    header.container-fluid {
        width: 100%;
        height: 100%;

        div.register-login {
            width: 100%;
            height: 60px;

            img.logo {
                width: 50px;
                height: 50px;
            }

            div.search-box {
                width: 50%;

                input.search {
                    width: 80%;
                    height: 20px;
                    font-size: 90%;

                }

                button.input-group-prepend {
                    width: 10%;
                    margin: 0;
                    padding-right: 0;
                    padding-left: 0;



                    &:hover {
                        div.input-group-text {}
                    }

                    div.input-group-text {
                        padding: 0;
                        width: 100%;

                        i {
                            font-size: 18px;
                        }
                    }

                }

                input.search {
                    border-left: 0;
                    font-size: 90%;

                }
            }

            div.buttons {
                margin: 1rem;

                button.btn.login {
                    border-radius: 28px;
                    padding: .3rem 1rem;
                    font-size: 90%;

                }
            }

        }
    }


    section.main-content.container {
        width: 100%;

        div.section-title {
            margin: 1rem;

            h3.h3 {
                font-size: 1.7rem;
                text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);

            }

            h4.text-muted.lead {
                font-size: 78%;
            }
        }

        div.card {
            width: 100%;
            height: 450px;
            margin: .2rem 0 1rem;
            padding: 0rem;

            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                width: 100%;
                height: 100%;

                div.owl-stage-outer {
                    width: 100%;

                    div.owl-stage {
                        width: 50%;

                        div.owl-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;

                            img.image-slide {
                                width: 100%;
                                height: 90%;
                            }
                        }

                        div.owl-item.center {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }

                div.owl-dots {
                    width: 100%;
                    height: 10%;
                    margin-top: 0;
                    position: absolute;
                    bottom: 0rem;

                    button.owl-dot {
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        margin: 0 8px;
                    }
                }
            }
        }
    }

    section.slide-video.container-fluid {
        width: 100%;
        height: max-content;
        margin-top: 2rem;

        div.video-gallery.owl-carousel.owl-theme {
            width: 100%;
            height: 100%;

            div.owl-stage-outer {
                width: 100%;

                div.owl-stage {
                    width: 100%;

                    div.owl-item {
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        img.image-slide {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            div.owl-nav {
                button.owl-prev {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    i.fa.fa-angle-left {
                        font-size: 28px;
                    }
                }

                button.owl-next {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    i.fa.fa-angle-right {
                        font-size: 28px;
                    }
                }
            }

            div.item-slide {
                width: 100%;
                flex-direction: column;

                span.text-video {
                    width: 100%;
                    margin-top: 5%;
                    margin-left: 0;
                    font-size: 95%;
                    order: 2;
                }

                div.myplayer {
                    order: 1;
                    width: 100%;

                    video {
                        width: 100%;
                        height: auto;
                    }

                    div.myplayer__controls {
                        position: absolute;
                        bottom: 0;
                        width: 100%;

                        div.controls__progressbar {
                            height: 6px;
                            width: 100%;

                            input.controls__progressbar-current {
                                height: 6px;
                                margin: 0;
                                position: absolute;
                                width: 100%;

                                &::-webkit-slider-thumb {
                                    height: 13px;
                                    width: 13px;
                                }

                                &::-moz-range-thumb {
                                    height: 13px;
                                    width: 13px;
                                }
                            }
                        }

                        div.controls__btns {
                            margin: 10px 15px;

                            div.left .btns:not(:first-child) {
                                margin-left: 20px;
                            }

                            div.right .btns:not(:last-child) {
                                margin-right: 20px;
                            }

                            div.left {
                                display: flex;
                                align-items: center;

                                div.btns.play {
                                    font-size: 1.2em;
                                }

                                div.timer {
                                    margin-left: 20px;
                                }
                            }

                            div.right {
                                div.btns.volume {
                                    font-size: 1.2em;

                                    div.volume__progress {
                                        position: absolute;
                                        top: -50px;

                                        input[type=range] {
                                            display: flex;
                                            -webkit-appearance: none;
                                            -moz-apperance: none;
                                            border-radius: 6px;
                                            height: 6px;
                                            width: 77px;

                                            &::-webkit-slider-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }

                                            &::-moz-range-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }
                                        }
                                    }

                                    div.volume__progress.active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div.footer {
            height: 40%;

            div.footer-right {
                display: none;

                img {}
            }

            div.footer-center {
                margin-top: 1rem;
                width: 100%;

                div.footer-center1 {
                    width: 50%;
                    margin-right: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 90%;

                    }

                    p.footer-center-description {
                        font-size: 80%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;
                    }
                }

                div.footer-center2 {
                    width: 50%;
                    margin-right: 1rem;
                    margin-left: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 90%;

                    }

                    p.footer-center-description {
                        font-size: 80%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;

                        strong.telephone {
                            font-size: 88%;
                            font-weight: 500;

                        }
                    }
                }
            }
        }

        div.footer-copyRight {
            small.text-muted {
                font-size: 65%;
            }
        }
    }
}

@media(max-width:587px) {

    header.container-fluid {
        width: 100%;
        height: 100%;

        div.register-login {
            width: 100%;
            height: 60px;

            img.logo {
                width: 45px;
                height: 45px;
            }

            div.search-box {
                width: 50%;

                input.search {
                    width: 75%;
                    height: 20px;
                    font-size: 90%;

                }

                button.input-group-prepend {
                    width: 10%;
                    margin: 0;
                    padding-right: 0;
                    padding-left: 0;



                    &:hover {
                        div.input-group-text {}
                    }

                    div.input-group-text {
                        padding: 0;
                        width: 100%;

                        i {
                            font-size: 16px;
                        }
                    }

                }

                input.search {
                    border-left: 0;
                    font-size: 90%;

                }
            }

            div.buttons {
                margin: 1rem;

                button.btn.login {
                    border-radius: 28px;
                    padding: .3rem 1rem;
                    font-size: 90%;

                }
            }

        }
    }


    section.main-content.container {
        width: 100%;

        div.section-title {
            margin: 1rem;

            h3.h3 {
                font-size: 1.7rem;
                text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);

            }

            h4.text-muted.lead {
                font-size: 78%;
            }
        }

        div.card {
            width: 100%;
            height: 450px;
            margin: .2rem 0 1rem;
            padding: 0rem;

            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                width: 100%;
                height: 100%;

                div.owl-stage-outer {
                    width: 100%;

                    div.owl-stage {
                        width: 50%;

                        div.owl-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;

                            img.image-slide {
                                width: 100%;
                                height: 90%;
                            }
                        }

                        div.owl-item.center {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }

                div.owl-dots {
                    width: 100%;
                    height: 10%;
                    margin-top: 0;
                    position: absolute;
                    bottom: 0rem;

                    button.owl-dot {
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        margin: 0 8px;
                    }
                }
            }
        }
    }

    section.slide-video.container-fluid {
        width: 100%;
        height: max-content;
        margin-top: 2rem;

        div.video-gallery.owl-carousel.owl-theme {
            width: 100%;
            height: 100%;

            div.owl-stage-outer {
                width: 100%;

                div.owl-stage {
                    width: 100%;

                    div.owl-item {
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        img.image-slide {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            div.owl-nav {
                button.owl-prev {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    i.fa.fa-angle-left {
                        font-size: 28px;
                    }
                }

                button.owl-next {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    i.fa.fa-angle-right {
                        font-size: 28px;
                    }
                }
            }

            div.item-slide {
                width: 100%;
                flex-direction: column;

                span.text-video {
                    width: 100%;
                    margin-top: 5%;
                    margin-left: 0;
                    font-size: 95%;
                    order: 2;
                }

                div.myplayer {
                    order: 1;
                    width: 100%;

                    video {
                        width: 100%;
                        height: auto;
                    }

                    div.myplayer__controls {
                        position: absolute;
                        bottom: 0;
                        width: 100%;

                        div.controls__progressbar {
                            height: 6px;
                            width: 100%;

                            input.controls__progressbar-current {
                                height: 6px;
                                margin: 0;
                                position: absolute;
                                width: 100%;

                                &::-webkit-slider-thumb {
                                    height: 13px;
                                    width: 13px;
                                }

                                &::-moz-range-thumb {
                                    height: 13px;
                                    width: 13px;
                                }
                            }
                        }

                        div.controls__btns {
                            margin: 10px 15px;

                            div.left .btns:not(:first-child) {
                                margin-left: 20px;
                            }

                            div.right .btns:not(:last-child) {
                                margin-right: 20px;
                            }

                            div.left {
                                display: flex;
                                align-items: center;

                                div.btns.play {
                                    font-size: 1.2em;
                                }

                                div.timer {
                                    margin-left: 20px;
                                }
                            }

                            div.right {
                                div.btns.volume {
                                    font-size: 1.2em;

                                    div.volume__progress {
                                        position: absolute;
                                        top: -50px;

                                        input[type=range] {
                                            display: flex;
                                            -webkit-appearance: none;
                                            -moz-apperance: none;
                                            border-radius: 6px;
                                            height: 6px;
                                            width: 77px;

                                            &::-webkit-slider-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }

                                            &::-moz-range-thumb {
                                                height: 13px;
                                                width: 13px;
                                            }
                                        }
                                    }

                                    div.volume__progress.active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div.footer {
            height: 40%;

            div.footer-right {
                display: none;

                img {}
            }

            div.footer-center {
                margin-top: 1rem;
                width: 100%;

                div.footer-center1 {
                    width: 50%;
                    margin-right: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 85%;

                    }

                    p.footer-center-description {
                        font-size: 78%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;
                    }
                }

                div.footer-center2 {
                    width: 50%;
                    margin-right: 1rem;
                    margin-left: 1rem;

                    h3.footer-center-heading {
                        padding-bottom: 3px;
                        margin: 0 .1rem 0;
                        font-weight: 500;
                        font-size: 85%;

                    }

                    p.footer-center-description {
                        font-size: 78%;
                        font-weight: 500;
                        padding-top: .3rem;
                        margin: 0 .1rem 0;

                        strong.telephone {
                            font-size: 85%;
                            font-weight: 500;

                        }
                    }
                }
            }
        }

        div.footer-copyRight {
            small.text-muted {
                font-size: 60%;
                margin: .5rem;

                strong {
                    padding: 0 4px;
                }
            }
        }
    }
}